<mat-toolbar class="container-toolbar" color="primary">
  <span>{{title}}</span>
  <span fxFlex></span>
  <button
   matTooltip="Heroes"
   routerLink="/heroes"
   mat-icon-button
   aria-label="Heroes list">

    <mat-icon>sports_martial_arts</mat-icon>
  </button>
  <button
  matTooltip="Dashboard"
  routerLink="/dashboard"
  mat-icon-button
  aria-label="Dashboard">

   <mat-icon>dashboard</mat-icon>
 </button>
</mat-toolbar>


<div class="content" fxLayoutGap="12px">
  <router-outlet></router-outlet>
  <app-messages></app-messages>

</div>
