<h1>{{ isEditing ? "Update" : "Create" }} Hero</h1>



<mat-card>
  <mat-card-content fxLayout="column">
    <mat-form-field *ngIf="isEditing">
      <mat-label>ID</mat-label>
      <input matInput disabled [value]="hero.id" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        id="name"
        [(ngModel)]="hero.name"
        placeholder="Name of hero"
        type="text"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      color="primary"
      mat-raised-button
      *ngIf="!isEditing"
      (click)="create()"
      [disabled]="!isFormValid()"
    >
      Create
    </button>
    <button
      color="primary"
      mat-raised-button
      *ngIf="isEditing"
      (click)="update()"
      [disabled]="!isFormValid()"
    >
      Update
    </button>
    <button mat-raised-button (click)="goBack()">Go Back</button>
  </mat-card-actions>
</mat-card>
